asgiref==3.8.1
Django==5.1.6
djangorestframework==3.16.1
greenlet==3.1.1
iniconfig==2.1.0
model-bakery==1.20.5
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
PyMySQL==1.1.1
pytest==8.4.2
pytest-django==4.11.1
SQLAlchemy==2.0.38
sqlparse==0.5.3
typing_extensions==4.12.2
