{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'user_requests/css/calendar.css' %}">
{% endblock %}


{% block content %}
    <div class="calendar-container"
        id="calendarData"
        data-open-center="{{ open_center }}"
        data-month-number="{{ month_number }}"
        data-year="{{ year }}"
        data-current-user-crm="{{ current_user_crm }}">
        <div class="calendar-panel shadow-sm rounded-3 p-4">
            <div class="calendar-wrapper">
                <table class="calendar">
                    <tr class="calendar-header">
                        <th colspan="7">{{ month_name }} {{ year }} {{ open_center }}</th>
                    </tr>
                    <tr>
                        <td>Seg</td>
                        <td>Ter</td>
                        <td>Qua</td>
                        <td>Qui</td>
                        <td>Sex</td>
                        <td>Sab</td>
                        <td>Dom</td>
                    </tr>
                    {% for week in table %}
                    <tr>
                        {% for day in week %}
                        <td>{{ day }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="dictData"></div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% include "user_requests/partials/modals/modalRequests.html"%}
    {% include "user_requests/partials/modals/modal_gen.html"%}
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'user_requests/js/calendarMain.js' %}" defer></script>
{% endblock %}
