
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ request.user }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Calendário
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Meus Horários</a></li>
            {% for center in centers %}
              <li><a class="dropdown-item" href="#">{{ center }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Benefícios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link open-month-modal" href="#" data-bs-toggle="modal" data-bs-target="#monthsModal" data-mode="monthtable">Meses</a>
        </li>
        
        {% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bases
          </a>
          <ul class="dropdown-menu">
            {% for center in centers %}
            <li><a class="dropdown-item" href="{% url 'shifts:basetable' center_abbr=center %}">{{ center }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}

        {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Financeiro
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Incluir</a></li>
            <li><a class="dropdown-item" href="#">Upload</a></li>
          </ul>
        </li>
        {% endif %}

        {% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            {% if not lck_month_exists %}
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirmCreateMonth">Criar Mês</a></li>
            {% else %}
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirmUnlockMonth">Destrancar Mês</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'shifts:sum_doctors_base' %}">Horas-Médico (Bases)</a></li>
            <li><a class="dropdown-item open-month-modal" href="#" data-bs-toggle="modal" data-bs-target="#monthsModal" data-mode="sum-doctors" >Horas-Médico (Mês)</a></li>
          </ul>
        </li>
        {% endif %}

        {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Root
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Bloquear Sistema</a></li>
            <li><a class="dropdown-item" href="#">Add New User</a></li>
          </ul>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:logout' %}">Logout</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>