<!-- Modal -->
<div class="modal fade custom-modal" id="modal_add" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true" style="color:black;">
    <div class="modal-dialog modal-lg"> <!-- modal-lg makes it larger -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddLabel">Preencha os Horários Abaixo:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <form id="modalAddForm">
            <div id="dynamicInputs">
              <!-- JavaScript will insert inputs here -->
            </div>
          </form>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="submitModalAdd()">Salvar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  