{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    {% include "shifts/partials/control-panel.html" %}

    <div class="table-wrapper">
        <table class="table table-bordered table-striped">
            <thead class="bg-light">
                <tr>
                    {% for day in header1 %}
                        <th {% if forloop.first %}id="corner1" class="first-col"{% else %}class="normal-col"{% endif %}>{{ day }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for index in header2 %}
                        <th {% if forloop.first %}id="corner2" class="first-col"{% else %}class="normal-col"{% endif %}>{{ index }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for doctor in doctors %}
                <tr>
                    <td class="first-col name-col" onclick="window.location.href='{% url 'shifts:doctor_basetable' center=center crm=doctor.crm %}'" style="cursor: pointer;">
                        <a href="{% url 'shifts:doctor_basetable' center=center crm=doctor.crm %}" title="{{ doctor.name }} - {{ doctor.crm }}">
                            {{ doctor.abbr_name }}
                        </a>
                    </td>
    
                    {% for shift in doctor.shifts %}
                        <td class="normal-col">{{ shift }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}