{% extends "base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'shifts/css/doctor_basetable.css' %}">
{% endblock %}


{% block content %}

<div class="container mt-4">
    {% include "shifts/partials/control-panel.html" %}

    <div class="table-wrapper">
        <table class="table table-bordered table-striped">
            <thead class="bg-light">
                <tr>
                    {% for index in header1 %}
                        <th {% if forloop.first %}id="corner1" class="first-col"{% else %}class="normal-col"{% endif %}>{{ index }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for day, apps in shifts %}
                <tr>
                    <td> {{ day }}</td>
                    {% for app in apps %}
                    <td class="normal-col">{{ app }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'shifts/js/editing.js' %}"></script>
{% endblock%}