{% extends "base.html" %}

{% block content%}

<div id="hours_table">
    <table>
        <thead>
            <tr>
                {% for day in header1 %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for index in header2 %}
                    <th>{{ index }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for line in table %}
            <tr>
                {% for cell in line %}
                <th>{{ cell }}</th>
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
