.finance-sheet-wrapper {
    overflow-x: auto;
    max-height: 80vh;
}

.finance-sheet {
    font-size: 0.8rem;
    white-space: nowrap;

    width: max-content;     /* important */
    min-width: 100%;        /* optional */
    table-layout: auto;     /* important */
}

.finance-sheet th,
.finance-sheet td {
    white-space: nowrap;
}

.finance-cell {
    min-width: 140px;       /* increase as needed */
    text-align: right;
    vertical-align: middle;
}