{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'finance/css/constants.css' %}">
{% endblock %}


{% block content %}
<div class="container-fluid mt-4">

  <form method="get" class="row g-2 mb-3">

    <div class="col-auto">
      <label class="form-label">Competência</label>
      <select name="month_year" class="form-select" onchange="this.form.submit()">
        {% for m in months %}
          <option
            value="{{ m.number }}-{{ m.year }}"
            {% if m.id == month.id %}selected{% endif %}
          >
            {{ m.number }}/{{ m.year }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="col-auto">
      <label class="form-label">Tabela</label>
      <select name="grid" class="form-select" onchange="this.form.submit()">
        {% for key, grid_config in grids.items %}
          <option
            value="{{ key }}"
            {% if key == selected_grid_key %}selected{% endif %}
          >
            {{ grid_config.label }}
          </option>
        {% endfor %}
      </select>
    </div>

  </form>

 <div class="finance-sheet-wrapper"  style="width: 35%; border-collapse: collapse; font-size: 0.85rem;">
  <table class="table table-sm table-bordered finance-sheet">

    <tbody>
      {% for row in grid.rows %}
        <tr>
          {% for cell in row.cells %}
        
            <td
              class="
                finance-cell
                {% if cell.editable %}editable-cell{% endif %}
                {% if cell.protected %}protected-cell{% endif %}
              "
              {% if cell.editable %}
                hx-get="{% url 'finance:edit_constant_cell' month.id row.cells.0.key %}"
                hx-trigger="click"
                hx-target="this"
                hx-swap="outerHTML"
              {% endif %}
            >
              {{ cell.value }}
            </td>
          
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

</div>
{% endblock %}